# Discord Bot Token (Discord Developer Portal > Bot > Token)
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN

# Application (Client) ID (Discord Developer Portal > General Information)
CLIENT_ID=YOUR_DISCORD_APPLICATION_CLIENT_ID

# TTS Server Host (e.g. voicevox, coeiroink-voice, etc.)
TTS_HOST="voicevox"
TTS_PORT="50021"